:root {
  --link-color: #fff;
  --primary-color: #fed101;
  --label-color: #fbda00;
  --news-color: #fdd504;
}
html {
  font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body {
  margin: 0 auto;
  font-family: 'Arial', sans-serif;
  color: var(--primary-color);
  background-color: rgb(240, 239, 235);
  padding-bottom: 100px;
}
a {
  text-decoration: none;
}
.header {
  max-width: 1365px;
  height: 80px;
}
.info__container {
  display: flex;
  align-items: center;
}
.header__info {
  height: 40px;
  background-color: #000;
  /* padding: 0 8.5rem; */
}
.header__info a {
  display: block;
  color: var(--link-color);
  flex-grow: 1;
}
.header__info-link {
  width: 150px;
}
.header__info-link img {
  display: block;
  height: 40px;
  /* padding-right: 5px; */
}
.header__infor-form {
  width: 200px;
  display: flex;
  position: relative;
}
.header__infor-form input {
  height: 30px;
  padding: 15px;
}
.header__infor-form input,
button {
  border-radius: 3px;
  border: none;
  outline: 0;
}
.header__infor-form button {
  font-size: 1.6rem;
  background-color: #fff;
  position: absolute;
  top: 6px;
  left: 85%;
}
.header__info-cart {
  width: 100px;
  font-size: 1.2rem;
  color: #fff;
  font-weight: 400;
  padding: 10px;
  border: 1px solid #8f8f8f;
  margin-left: 10px;
  border-radius: 5px;
}
.header__info-cart i {
  padding: 0 5px;
}
.header__info-cart:hover {
  background-color: rgba(207, 207, 207, 0.5);
  /* transition: background-color 0.5s ease; */
}
.header__info-history {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 400;
  margin-left: 20px;
  display: block;
  position: relative;
}
.header__info-history::after {
  content: '';
  position: absolute;
  top: -12px;
  right: -20px;
  width: 1px;
  height: 38px;
  background-color: #8f8f8f;
}
a.header__info-notice {
  width: 200px;
  display: block;
  margin-left: 30px;
  font-size: 1.2rem;
  color: rgb(247, 227, 10);
  word-break: break-word;
}
.header__info-notice i {
  padding-right: 5px;
}
.header__info-list {
  height: 40px;
  margin-left: 25px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.header__info-item {
  padding: 14px;
}
.header__info-item:hover {
  background-color: #fff;
}
.header__info-item:hover a {
  display: block;
  color: #000;
}
.item-link {
  font-size: 1.2rem;
  font-weight: 400;
}

.header__nav {
  background-color: #fed700;
  height: 40px;
}
.header__nav-list {
  height: 40px;
  display: flex;
  align-items: center;
}
.header__nav-item {
  flex-grow: 1;
  padding: 6px 12px;
  color: #000;
}
.header__nav-item i {
  font-size: 1.8rem;
}
.header__nav-link {
  color: #000;
  font-size: 1.4rem;
  line-height: 2;
}
.header__nav-item:hover {
  background-color: #fff;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.advertisement {
  margin-top: 10px;
}
.advertisement__container {
  height: 356px;
  display: flex;
}
.advertisement__intro {
  width: 790px;
  background-color: #fff;
}
.advertisement__intro img {
  width: 790px;
}
.advertisement__list {
  display: flex;
  align-items: center;
  padding: 5px;
}
.advertisement__item {
  cursor: pointer;
  position: relative;
  padding: 10px 15px;
  word-break: break-word;
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.7);
}
.advertisement__item:nth-child(2) {
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.3rem;
  font-weight: 600;
}
.advertisement__item::before {
  content: '';
  position: absolute;
  top: 20%;
  right: 0;
  width: 1px;
  height: 35px;
  background-color: rgba(0, 0, 0, 0.1);
}
.advertisement__news {
  width: 400px;
  margin-left: 10px;
}
.news-link {
  display: block;
  width: 135px;
  font-size: 1.4rem;
  font-weight: 600;
  padding: 12px 10px;
  color: #000;
  background-color: var(--news-color);
  position: relative;
  margin-bottom: 1px;
}
.news {
  background-color: #fff;
}
.news-link::after {
  content: '';
  position: absolute;
  top: 0;
  right: -20px;
  background-color: var(--news-color);
  border-top: 18px solid var(--news-color);
  border-bottom: 20px solid var(--news-color);
  border-right: 20px solid #fff;
}
.news__info {
  display: flex;
  justify-content: flex-start;
  padding: 10px 10px 5px;
  background-color: #fff;
}
.news__info img {
  display: block;
}
.descr {
  flex-grow: 1;
  display: block;
  color: rgba(0, 0, 0, 0.8);
  font-size: 1.4rem;
  padding: 5px 8px;
  margin-right: -5px;
}
.news-time:nth-child(2):hover {
  color: rgb(8, 114, 207);
}
.advertisement img::nth-child(2) {
  margin-top: 10px;
}
.news-image {
  margin-top: 10px;
}

/*Khuyến mãi hot nhât*/
.sale {
  margin-top: 20px;
}
.heading {
  font-size: 1.6rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.8);
  background-color: #fff;
  padding: 18px;
}
.sale__hotest {
  margin-top: 2px;
  background-color: #fff;
}
.sale__hotest__list {
  display: flex;
}
.sale__hotest__item {
  width: calc(50%-15px);
  padding: 50px 5px 5px 48px;
  position: relative;
  /* cursor: pointer; */
}
.sale__hotest__descr {
  /* margin-left: -15px; */
  margin-top: 15px;
}
.sale__hotest__descr a:first-child {
  color: rgba(0, 0, 0, 0.8);
  font-size: 1.4rem;
}
.sale__hotest__descr a:first-child:hover {
  color: #0281de;
}
.sale__hotest__descr a {
  display: block;
  margin-top: 8px;
}
.sale__hotest__descr a:nth-child(2) {
  color: #d0021b;
  font-size: 1.2rem;
}
.sale__hotest__descr a:nth-child(3) {
  color: #bf081f;
  font-size: 1.4rem;
  font-weight: 700;
  position: relative;
}
.sale__hotest__descr a:nth-child(3) > span {
  font-size: 1rem;
  text-decoration: underline;
  position: absolute;
  top: 15%;
  right: 60%;
}
.sale__hotest__item::before {
  content: 'Trả góp 0%';
  position: absolute;
  top: 12px;
  left: 12px;
  width: 70px;
  height: 18px;
  background-color: var(--label-color);
  font-size: 1.1rem;
  color: #000;
  font-weight: 400;
  text-align: center;
  line-height: 1.8;
  border-radius: 3px;
}
.first__item::after {
  content: '';
  position: absolute;
  top: 40%;
  left: 15px;
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  cursor: pointer;
}
.last__item::after {
  content: '';
  position: absolute;
  top: 40%;
  right: -15px;
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  cursor: pointer;
}
.sale__hotest__item a > img:hover {
  -webkit-animation: moving 5s linear 0s;
  animation: moving 10s ease 0s;
  transition: moving 100ms;
}

@-webkit-keyframes moving {
  0% {
    transform: translateY(-12px);
  }
  25% {
    transform: translateY(-8px);
  }
  50% {
    transform: translateY(-5px);
  }
  75% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes moving {
  0% {
    transform: translateY(-10px);
  }
  25% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(-3px);
  }
  75% {
    transform: translateY(-1px);
  }
  100% {
    transform: translateY(0px);
  }
}
/* ĐIỆN THOẠI NỔI BẬT NHẤT */
.highlight {
  margin-top: 15px;
}
.highlight__container {
  background-color: #fff;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.highlight__category {
  margin: 1px 0px 0px 130px;
  display: flex;
  align-items: center;
}
.highlight__category a {
  display: block;
  padding-left: 20px;
  font-size: 1.4rem;
  color: #0281de;
  flex-grow: 1;
  word-break: break-word;
}
.highlight__category a:hover {
  text-decoration: underline;
}
.category-laptop {
  margin: 1px 0px 0px 320px;
}
.category-tablet {
  margin: 1px 0px 0px 80px;
}
.highlight__product {
  width: 100%;
}
.highlight__product__list {
  display: flex;
}
.label {
  margin: 5px 0;
  width: 70px;
  padding: 3px;
  text-align: center;
  display: block;
  color: #000;
  font-size: 1.1rem;
  font-weight: 400;
  background-color: var(--label-color);
  border-radius: 3px;
}
h3 a {
  font-size: 1.4rem;
  color: #0281de;
}
.highlight__item {
  border-top: 1px solid rgba(207, 207, 207, 0.5);
  width: 40%;
}
.highlight__item img {
  width: 100%;
}
.item__descr {
  margin: 0 10px;
  position: relative;
  width: 230px;
}
.price {
  display: inline-block;
  margin: 5px 10px 5px 0;
  color: #bf081f;
  font-size: 1.4rem;
  font-weight: 700;
  position: relative;
}
.unit-price {
  font-size: 1rem;
  text-decoration: underline;
  position: absolute;
  top: 15%;
  right: -10%;
}
.intial-price {
  display: inline-block;
  margin: 0 15px;
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.8);
  margin-left: 10px;
  text-decoration: line-through;
  position: relative;
}
.down {
  display: inline-block;
  color: #d0021b;
  font-size: 1.2rem;
}
.rating {
  display: inline-block;
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.2rem;
}
.rating-star {
  color: #dea702;
  font-size: 1.4rem;
  padding-right: 5px;
}
.item__aside {
  width: 20%;
  padding: 50px 30px 5px 20px;
  border-top: 1px solid rgba(207, 207, 207, 0.5);
  border-right: 1px solid rgba(207, 207, 207, 0.5);
  border-left: 1px solid rgba(207, 207, 207, 0.5);
}
.item__aside:nth-child(3) {
  border-right: none;
  border-left: none;
}
